git_branch: main

github_deploy_key: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  replace-with-deploy-key
  -----END OPENSSH PRIVATE KEY-----

registry_username: your-regv2-registry-username
registry_password: your-regv2-registry-password

git_registry_username: your-git-registry-username
git_registry_password: your-git-registry-password

cosign_private_key: |
  -----BEGIN ENCRYPTED COSIGN PRIVATE KEY-----
  replace-with-cosign-private-key
  -----END ENCRYPTED COSIGN PRIVATE KEY-----

cosign_password: your-cosign-password
